<% layout("layouts/boilerplate") %>


<div class="container mt-5">
  <div class="card shadow p-4">
    <h3 class="mb-4">Edit your listing</h3>
    
    <form method="POST" action="/listings/<%= listing._id %>?_method=PUT" class="container mt-4 needs-validation" style="max-width: 600px;" novalidate enctype="multipart/form-data">

      <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input name="listing[title]" id="title" value="<%= listing.title %>" type="text" class="form-control" required>
        <div class="valid-feedback">Looks good!</div>
      </div>

      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea name="listing[description]" id="description" rows="4" class="form-control" required><%= listing.description %></textarea>
        <div class="invalid-feedback">Please Enter Description</div>
      </div>

      <div class="mb-3">
        <label for="image" class="form-label">Image Upload</label>
        <input name="listing[image][url]" id="image"  type="file" class="form-control">
        <div class="invalid-feedback">Please Upload image</div>
      </div>
      
      <% if (originalImageUrl && originalImageUrl) { %>
  <div class="mb-3">
    <label class="form-label">Current Image</label><br>
    <img src="<%= originalImageUrl%>" alt="Current Image" style="max-width: 200px; border: 1px solid #ccc; padding: 4px;">
  </div>
<% } %>


      <div class="mb-3">
        <label for="price" class="form-label">Price (INR)</label>
        <input name="listing[price]" id="price" value="<%= listing.price %>" type="number" class="form-control" required>
        <div class="invalid-feedback">Please Enter valid price</div>
      </div>

      <div class="mb-3">
        <label for="country" class="form-label">Country</label>
        <input name="listing[country]" id="country" value="<%= listing.country %>" type="text" class="form-control" required>
        <div class="invalid-feedback">Please provide Country Name</div>
      </div>

      <div class="mb-3">
        <label for="location" class="form-label">Location</label>
        <input name="listing[location]" id="location" value="<%= listing.location %>" type="text" class="form-control" required>
        <div class="invalid-feedback">Please provide valid city.</div>
      </div>

      <div>
        <button type="submit" class="btn btn-success w-100">Update Listing</button>
      </div>
    </form>
  </div>
</div>
    <script src="/js/script.js"></script>


